body {
  font-size: 24px;
  background-color: orangered;
}

.container {
  display: grid;

  background-color: white;
  padding: 1em;
}

.header {
  /* grid-column: span 12; */
  /* background-color: blue; */
  font-size: 2em;

}

.left {}

.main {
  /* grid-column: span 6; */
  /* background-color: blueviolet; */
  line-height: 1.3em;

}

.main img {
  /* float: right;
  margin: 0 0 10px 10px; */
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.left,
.right {
  margin: 1em 0;
}

.right {}

.footer {
  margin: 1em 0;
}

footer ul {

  padding: 0;
  justify-content: space-evenly;
}

footer li {
  list-style-type: none;
  margin: 0;

}

.footer a {
  padding: 1em 0;
  display: block;
  text-align: center;
}

.footer a:hover {
  background-color: red;
}

/* .right a {
  position: absolute;
  top: 0;
  right: 0;
} */

@media screen and (min-width: 600px) {
  .container {
    background-color: red;
    grid-template-columns: repeat(4, 1fr);
  }

  .header {
    grid-column: span 4;
  }

  .main {
    grid-column: 2 / 4;
  }

  .left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .footer {
    grid-column: span 4;
  }
}